@page
@model NHNN_OP_Hub.Pages.HomeModel
@{
    Layout = "~/Pages/Shared/_MainLayout.cshtml";
}

<div class="main-content">
    <h1>Welcome!</h1>
    <h5>Please navigate using the menu on the right</h5>

    <p>
        There are <span class="noti-num">@Model.AppNotifications.Posting</span> notifications for posting and
        <span class="noti-num">@Model.AppNotifications.Outpatient</span> notifications for outpatients.
    </p>
</div>