@page
@model NHNN_OP_Hub.Pages.HomeModel
@{
}

<div class="page">

    <div class="top-bar">

    </div>

    <div class="sidebar">

    </div>

    <div class="main-content">
        <div class="notification-bar">
            <div class="noficication-card">

            </div>
        </div>
        <div class="links">
            <button>Outpatients</button>
            <button>Posting</button>
        </div>
    </div>

    <div class="bottom-bar">

    </div>

</div>