@page
@model NHNN_OP_Hub.Pages.ViewRecordModel
@{
    Layout = null;
}

<div class="view-package">

    <div class="package-to-view">

    </div>

    @if (Model.IsStagingChanges)
    {
        <div class="changes-staged">

        </div>
    }

</div>

<div class="package-history">

</div>

<div class="edit-form">
    <form id="pt-edit" method="POST" asp-page-handler="Edit">

        <div class="form-group">
            <label for="ptName">Patient Name</label>
            <input type="text" id="ptName" asp-for="ptName" />
            <input type="checkbox" id="ptName" asp-for="stage_ptName" />
        </div>

        <div class="form-group">
            <label for="MRN">MRN</label>
            <input type="text" id="MRN" asp-for="MRN" />
            <input type="checkbox" id="MRN" asp-for="stage_MRN" />
        </div>


        <div class="form-group">
            <label for="isPaying">Is paying</label>
            <input type="checkbox" id="isPaying" asp-for="isPaying" />
            <input type="checkbox" id="isPaying" asp-for="stage_isPaying" />
        </div>

        <div class="form-group">
            <label for="isPrivate">Private prescription</label>
            <input type="checkbox" id="isPrivate" asp-for="isPrivate" />
            <input type="checkbox" id="isPrivate" asp-for="stage_isPrivate" />
        </div>

        <div class="form-group">
            <label for="rxCost">Prescription Cost</label>
            <input type="number" id="rxCost" asp-for="rxCost" />
            <input type="checkbox" id="rxCost" asp-for="stage_rxCost" />
        </div>

        <div class="form-group">
            <label for="reciptNum">Recipt Number</label>
            <input type="number" id="reciptNum" asp-for="reciptNum" />
            <input type="checkbox" id="reciptNum" asp-for="stage_reciptNum" />
        </div>

        @if(Model.editType == EditType.OUTPATIENT)
            {
            <div class="form-group">
                <label for="ticketNum">Ticket Number</label>
                <input type="number" id="ticketNum" asp-for="ticketNum" />
                <input type="checkbox" id="ticketNum" asp-for="stage_ticketNum" />
            </div>
            <div class="form-group">
                <label for="hasCollected">Prescription collected?</label>
                <input type="checkbox" id="hasCollected" asp-for="hasCollected" />
                <input type="checkbox" id="hasCollected" asp-for="stage_hasCollected" />
            </div>

            <div class="form-group">
                <label for="collectionDate">Collection date</label>
                <input type="date" id="collectionDate" asp-for="collectionDate" />
                <input type="checkbox" id="collectionDate" asp-for="stage_collectionDate" />
            </div>
            }
            else
            {
            <div class="form-group">
                <label for="trackingNumber">Tracking number</label>
                <input type="text" id="trackingNumber" asp-for="trackingNumber" />
                <input type="checkbox" id="trackingNumber" asp-for="stage_trackingNumber" />
            </div>

            <div class="form-group">
                <label for="hasReturned">Has the package returned?</label>
                <input type="checkbox" id="hasReturned" asp-for="hasReturned" />
                <input type="checkbox" id="hasReturned" asp-for="stage_hasReturned" />
            </div>

            <div class="form-group">
                <label for="deliveryAddress">Delivery address</label>
                <input type="text" id="deliveryAddress" asp-for="deliveryAddress" />
                <input type="checkbox" id="deliveryAddress" asp-for="stage_deliveryAddress" />
            </div>
            }

        <div class="form-reset">
            <label for="reset">Reset</label>
            <input type="reset" id="reset" />
        </div>

        <button type="submit" id="submitButton">Enter</button>
    </form>

    <form class="form-to-posting" method="post" asp-page-handler="SwitchToPosting">
        <button type="submit">Change to posting package</button>
    </form>

    <form class="form-to-outpatient" method="post" asp-page-handler="SwitchToOutpatient">
        <button type="submit">Change to outpatient package</button>
    </form>
</div>

<script>

    document.querySelectorAll('.form-group').forEach(function (group) {

        const stageCheckbox = group.querySelector('input[name*="stage"]');

        const mainInput = group.querySelector('input:not([name*="stage"])');

        if (mainInput && stageCheckbox) {

            const eventType = (mainInput.type === 'checkbox') ? 'change' : 'input';

            mainInput.addEventListener(eventType, function () {
                stageCheckbox.checked = true;
            });
        }
    });

</script>